<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.video.mapper.UserMapper">
	<resultMap type="cn.tedu.video.entity.User" id="UserEntityMap">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="phone" property="phone" />
		<result column="salt" property="salt" />
		<result column="is_delete" property="isDelete" />
	</resultMap>
	<insert id="insert"
			useGeneratedKeys="true"
			keyProperty="id">
		INSERT INTO
		t_user(username,password,phone,salt,is_delete)
		VALUES(#{username},#{password},#{phone},#{salt},#{isDelete})
	</insert>
	
	<update id="updateVip">
		UPDATE 
			t_user 
		SET 
			vip=1 
		WHERE 
			id=#{id}
	</update>
	
	<select id="findByUsername" resultMap="UserEntityMap">
		SELECT * FROM t_user WHERE
		username=#{username}
	</select>
</mapper>