body {
	font-family: Î¢ÈíÑÅºÚ, ºÚÌå, ÎÄÈªæäÕýºÚ;
}
nav{
	height: 500px;
}
nav img {
	width: 100%;
	height: 500px;
	position: absolute;
}

nav ul {
	color: #CD5C5C;
	float: right;
	margin-top: -1px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 276px;
	height: 430px;
	font-size: 24px;
}

nav li {
	list-style: none;
	margin-top: 15px;
	cursor: pointer;
}

nav ul>a {
	font-weight: bold;
	color: #CD5C5C;
	font-size: 28px;
	cursor: pointer;
	padding-bottom: 10px;
	border-bottom: 1px solid;
}

nav>ul>li>a {
	font-size: 18px;
	color: #C0C0C0;
}

nav>ul>li>a>span {
	margin-left: 20px;
}

header {
	width: 100%;
	height: 70px;
	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
}

header>img {
	width: 150px;
	height: 80px;
	margin-left: 20px;
	margin-top: -15px;
}

header>div {
	height: 50px;
	width: 200px;
	margin-top: 18px;
	margin-left:1580px;
	font-size: 30px;
	color: white;
	position: absolute;
}

#d1>img {
	width: 36px;
	height: 36px;
	cursor: pointer;
}

#d1 {
	float: right;
	margin-right: 32px;
	margin-top: -40px;
}

#d1>div {
	width: 550px;
	height: 390px;
	display: none;
	position: absolute;
	top: 36px;
	right:-18px;
	z-index: 1;
}
header input {
	position: absolute;
	margin-left: 720px;
	border-radius: 60px;
	border: 0px;
	outline:none;
	background-color: rgba(255, 255, 255, 0.3);
	width: 400px;
	line-height: 46px;
	top: 15px;
}

header>span {
	margin-left: -80px;
	color: white;
	left: 1135px;
	top: 32px;
	position: absolute;
}
header>div>span {
	margin-right: 50px;
}
#i1 {
	border-radius: 0 100% 100% 0;
	width: 76px;
	background-color: #FF6347;
	margin-left: 1053px;
	color: white;
	position: absolute;
}
.panel-heading{
	background-image: url("../images/2.jpg");
}
.panel-body{
	color: red;
	font-size: 45px;
}
.panel-body>span{
	margin-top:60px;
	margin-left:72px;
}
.btn-default{
	font-size:26px;
	margin-top:20px;
	margin-left:180px;
	background: -webkit-linear-gradient(left,white,orange,orange);
}